<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork865-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [14]:
!pip install sqlalchemy
!pip install ibm_db
!pip install ibm_db_sa
!pip install ipython-sql

Requirement already satisfied: sqlalchemy in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (2.0.19)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy) (2.0.2)
Requirement already satisfied: ibm_db in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (3.1.0)
Requirement already satisfied: ibm_db_sa in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (0.4.0)
Requirement already satisfied: sqlalchemy>=0.7.3 in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (from ibm_db_sa) (2.0.19)
Requirement already satisfied: ibm-db>=2.0.0 in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (from ibm_db_sa) (3.1.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy>=0.7.3->ibm_db_sa) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy>=0.7.3->ibm_db_sa) (2.0.2)
Requirement already satisfied: ipython-sql in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (0.5.0)
Requirement already satisfied: prettytable in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (3.8.0)
Requirement already satisfied: ipython in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (8.12.0)
Requirement already satisfied: sqlalchemy>=2.0 in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (2.0.19)
Requirement already satisfied: sqlparse in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: backcall in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: pexpect>4.3 in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: appnope in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (0.1.2)
Requirement already satisfied: wcwidth in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [15]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [7]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [17]:
%sql ibm_db_sa://pks63717:jT3OduCGI6hfq5yk@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb?security=SSL;

Traceback (most recent call last):
  File "/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/sql/connection.py", line 45, in __init__
    engine = sqlalchemy.create_engine(
  File "<string>", line 2, in create_engine
  File "/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 281, in warned
    return fn(*args, **kwargs)  # type: ignore[no-any-return]
  File "/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 601, in create_engine
    dbapi = dbapi_meth(**dbapi_args)
  File "/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/ibm_db_sa/ibm_db.py", line 130, in import_dbapi
    import ibm_db_dbi as module
  File "/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/ibm_db_dbi.py", line 45, in <module>
    import ibm_db
ImportError: dlopen(/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/ibm_db.cpython-39-darwin.so, 0x0002): Symbol not found: (___cxa_throw_bad_array_new_length)
  Referenced from: '/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/clidriver/lib/libdb2.dylib'
  Expected in: '/usr/lib/libstdc++.6.dylib'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
Traceback (most recent call last):
  File "/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/sql/connection.py", line 70, in set
    cls.current = existing or Connection(descriptor, connect_args, creator)
  File "/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/sql/connection.py", line 45, in __init__
    engine = sqlalchemy.create_engine(
  File "<string>", line 2, in create_engine
  File "/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 281, in warned
    return fn(*args, **kwargs)  # type: ignore[no-any-return]
  File "/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 601, in create_engine
    dbapi = dbapi_meth(**dbapi_args)
  File "/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/ibm_db_sa/ibm_db.py", line 130, in import_dbapi
    import ibm_db_dbi as module
  File "/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/ibm_db_dbi.py", line 45, in <module>
    import ibm_db
ImportError: dlopen(/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/ibm_db.cpython-39-darwin.so, 0x0002): Symbol not found: (___cxa_throw_bad_array_new_length)
  Referenced from: '/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/clidriver/lib/libdb2.dylib'
  Expected in: '/usr/lib/libstdc++.6.dylib'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [8]:
db2_connection_string = (
    f'db2://{pks63717}:{jT3OduCGI6hfq5yk}@{b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud}:{31249}/{bludb}'
    ':SECURITY=SSL;PROTOCOL=TCPIP;'
)

SyntaxError: f-string: invalid syntax (2344901615.py, line 2)

In [179]:
# IMPORT THE SQALCHEMY LIBRARY's CREATE_ENGINE METHOD
import postgresql
from sqlalchemy import create_engine

# DEFINE THE DATABASE CREDENTIALS
user = 'pks63717'
password = 'jT3OduCGI6hfq5yk'
host = 'b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud'
port = 31249
database = 'bludb'

# PYTHON FUNCTION TO CONNECT TO THE POSTGRESQL DATABASE AND
# RETURN THE SQLACHEMY ENGINE OBJECT
def get_connection():
	return create_engine(
		url="postgresql://{0}:{1}@{2}:{3}/{4}".format(
			user, password, host, port, database
		)
	)


if __name__ == '__main__':

	try:
		# GET THE CONNECTION OBJECT (ENGINE) FOR THE DATABASE
		engine = get_connection()
		print(
			f"Connection to the {host} for user {user} created successfully.")
	except Exception as ex:
		print("Connection could not be made due to the following error: \n", ex)

ModuleNotFoundError: No module named 'postgresql'

In [165]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
%sql ibm_db_sa://pks63717:jT3OduCGI6hfq5yk@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud/bludb?security=SSL

In [167]:
%sql ibm_db_sa://pks63717:jT3OduCGI6hfq5yk@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud/bludb?security=SSL

Traceback (most recent call last):
  File "/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/sql/connection.py", line 45, in __init__
    engine = sqlalchemy.create_engine(
  File "<string>", line 2, in create_engine
  File "/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 277, in warned
    versions[m],
  File "/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 605, in create_engine
    dialect_args.setdefault("compiler_linting", compiler.NO_LINTING)
  File "/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/ibm_db_sa/ibm_db.py", line 130, in import_dbapi
    import ibm_db_dbi as module
  File "/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/ibm_db_dbi.py", line 45, in <module>
    import ibm_db
ImportError: dlopen(/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/ibm_db.cpython-39-darwin.so, 0x0002): Symbol not found: (___cxa_throw_bad_array_new_length)
  Referenced from: '/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/clidriver/lib/libdb2.dylib'
  Expected in: '/usr/lib/libstdc++.6.dylib'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite:///my_data1.db', 'sqlite:///PM_KG.db', 'sqlite:///SPACEX.db'])
Traceback (most recent call last):
  File "/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/sql/connection.py", line 70, in set
    cls.current = existing or Connection(descriptor, connect_args, creator)
  File "/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/sql/connection.py", line 45, in __init__
    engine = sqlalchemy.create_engine(
  File "<string>", line 2, in create_engine
  File "/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 277, in warned
    versions[m],
  File "/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 605, in create_engine
    dialect_args.setdefault("compiler_linting", compiler.NO_LINTING)
  File "/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/ibm_db_sa/ibm_db.py", line 130, in import_dbapi
    import ibm_db_dbi as module
  File "/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/ibm_db_dbi.py", line 45, in <module>
    import ibm_db
ImportError: dlopen(/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/ibm_db.cpython-39-darwin.so, 0x0002): Symbol not found: (___cxa_throw_bad_array_new_length)
  Referenced from: '/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/clidriver/lib/libdb2.dylib'
  Expected in: '/usr/lib/libstdc++.6.dylib'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite:///my_data1.db', 'sqlite:///PM_KG.db', 'sqlite:///SPACEX.db'])

In [141]:
!pip install --upgrade ibm_db
!pip install --upgrade ibm_db_sa
!pip install --upgrade SQLAlchemy

import ibm_db
import ibm_db_sa
import sqlalchemy

Requirement already satisfied: ibm_db in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (3.1.0)
Collecting ibm_db
  Using cached ibm_db-3.1.4.tar.gz (1.4 MB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: ibm_db
  Building wheel for ibm_db (pyproject.toml) ... done
  Created wheel for ibm_db: filename=ibm_db-3.1.4-cp39-cp39-macosx_10_15_x86_64.whl size=32403706 sha256=727657cccd4b78686cb2e911cb6b366ee750d26e068af8744a3cc3d1d296c99b
  Stored in directory: /Users/muhammadmoaeen-ud-din/Library/Caches/pip/wheels/7b/2d/a5/26b4ad8bcc66c7e90efe5c8a6e20c26d5327ff82161e6b1490
Successfully built ibm_db
Installing collected packages: ibm_db
  Attempting uninstall: ibm_db
    Found existing installation: ibm-db 3.1.0
    Uninstalling ibm-db-3.1.0:
      Successfully uninstalled ibm-db-3.1.0
Successfully installed ibm_db-3.1.4
Requirement already satisfied: ibm_db_sa in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (0.4.0)
Requirement already satisfied: sqlalchemy>=0.7.3 in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (from ibm_db_sa) (2.0.2)
Requirement already satisfied: ibm-db>=2.0.0 in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (from ibm_db_sa) (3.1.4)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy>=0.7.3->ibm_db_sa) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy>=0.7.3->ibm_db_sa) (2.0.2)
Requirement already satisfied: SQLAlchemy in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (2.0.2)
Collecting SQLAlchemy
  Using cached SQLAlchemy-2.0.19-cp39-cp39-macosx_10_9_x86_64.whl (2.0 MB)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (from SQLAlchemy) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages (from SQLAlchemy) (2.0.2)
Installing collected packages: SQLAlchemy
  Attempting uninstall: SQLAlchemy
    Found existing installation: SQLAlchemy 2.0.2
    Uninstalling SQLAlchemy-2.0.2:
      Successfully uninstalled SQLAlchemy-2.0.2
Successfully installed SQLAlchemy-2.0.19

ImportError: dlopen(/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/ibm_db.cpython-39-darwin.so, 0x0002): Symbol not found: (___cxa_throw_bad_array_new_length)
  Referenced from: '/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/clidriver/lib/libdb2.dylib'
  Expected in: '/usr/lib/libstdc++.6.dylib'

In [142]:

%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [143]:
%sql ibm_db_sa://pks63717:jT3OduCGI6hfq5yk@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB

Traceback (most recent call last):
  File "/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/sql/connection.py", line 45, in __init__
    engine = sqlalchemy.create_engine(
  File "<string>", line 2, in create_engine
  File "/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 277, in warned
    versions[m],
  File "/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 605, in create_engine
    dialect_args.setdefault("compiler_linting", compiler.NO_LINTING)
  File "/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/ibm_db_sa/ibm_db.py", line 130, in import_dbapi
    import ibm_db_dbi as module
  File "/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/ibm_db_dbi.py", line 45, in <module>
    import ibm_db
ImportError: dlopen(/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/ibm_db.cpython-39-darwin.so, 0x0002): Symbol not found: (___cxa_throw_bad_array_new_length)
  Referenced from: '/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/clidriver/lib/libdb2.dylib'
  Expected in: '/usr/lib/libstdc++.6.dylib'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite:///my_data1.db', 'sqlite:///PM_KG.db', 'sqlite:///SPACEX.db'])
Traceback (most recent call last):
  File "/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/sql/connection.py", line 70, in set
    cls.current = existing or Connection(descriptor, connect_args, creator)
  File "/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/sql/connection.py", line 45, in __init__
    engine = sqlalchemy.create_engine(
  File "<string>", line 2, in create_engine
  File "/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/util/deprecations.py", line 277, in warned
    versions[m],
  File "/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 605, in create_engine
    dialect_args.setdefault("compiler_linting", compiler.NO_LINTING)
  File "/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/ibm_db_sa/ibm_db.py", line 130, in import_dbapi
    import ibm_db_dbi as module
  File "/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/ibm_db_dbi.py", line 45, in <module>
    import ibm_db
ImportError: dlopen(/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/ibm_db.cpython-39-darwin.so, 0x0002): Symbol not found: (___cxa_throw_bad_array_new_length)
  Referenced from: '/Users/muhammadmoaeen-ud-din/opt/anaconda3/lib/python3.9/site-packages/clidriver/lib/libdb2.dylib'
  Expected in: '/usr/lib/libstdc++.6.dylib'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite:///my_data1.db', 'sqlite:///PM_KG.db', 'sqlite:///SPACEX.db'])

In [117]:
import csv, sqlite3

con = sqlite3.connect("SPACEX.db")
cur = con.cursor()

In [ ]:
%sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name

In [74]:
import csv, sqlite3

con = sqlite3.connect("SPACEX.db")
cur = con.cursor()

In [75]:
!pip install -q pandas==1.1.5

In [76]:
%sql sqlite:///SPACEX.db

In [118]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEX.db", con, if_exists='replace', index=False,method="multi")

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [37]:
import pandas as pd
import random

In [80]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

In [119]:
unique_launch=df["Launch_Site"].unique().tolist()
unique_launch

['CCAFS LC-40', 'VAFB SLC-4E', 'KSC LC-39A', 'CCAFS SLC-40', nan]

In [104]:
%%sql
SELECT COUNT(*) LAUNCH_SITE
FROM df
WHERE LAUNCH_SITE = 'CCAFS LC-40';

   sqlite:///PM_KG.db
 * sqlite:///SPACEX.db
   sqlite:///my_data1.db
(sqlite3.OperationalError) no such table: df
[SQL: SELECT COUNT(*) LAUNCH_SITE
FROM df
WHERE LAUNCH_SITE = 'CCAFS LC-40';]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [61]:
%%sql
SELECT COUNT(*) LAUNCH_SITE
FROM PM_KG
WHERE LAUNCH_SITE = 'CCAFS SLC-40';

 * sqlite:///PM_KG.db
   sqlite:///my_data1.db
Done.

[(34,)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [41]:
count=0
for site in df["Launch_Site"]:
    if "CCA" in site and count < 11:
        print(site)
        count=count+1

CCAFS LC-40
CCAFS LC-40
CCAFS LC-40
CCAFS LC-40
CCAFS LC-40
CCAFS LC-40
CCAFS LC-40
CCAFS LC-40
CCAFS LC-40
CCAFS LC-40
CCAFS LC-40

TypeError: argument of type 'float' is not iterable

In [62]:
%%sql
SELECT LAUNCH_SITE
FROM PM_KG
WHERE LAUNCH_SITE LIKE 'CCA%'
LIMIT 5;

 * sqlite:///PM_KG.db
   sqlite:///my_data1.db
Done.

[('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',)]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [105]:
total_mass=df["PAYLOAD_MASS__KG_"].sum()
print(f"the total mas transported by NASA is {total_mass}KG")

the total mas transported by NASA is 619967.0KG

In [63]:
%%sql
SELECT SUM(PAYLOAD_MASS__KG_)
FROM PM_KG
WHERE Customer = 'NASA (CRS)';

 * sqlite:///PM_KG.db
   sqlite:///my_data1.db
Done.

[(45596.0,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [106]:
df["Booster_Version"].value_counts()

F9 v1.1           5
F9 B4 B1039.1     1
F9 B5B1051.1      1
F9 v1.1  B1003    1
F9 B5 B1051.3     1
                 ..
F9 FT B1024       1
F9 B5 B1049.6     1
F9 FT B1022       1
F9 B5 B1051.5     1
F9 B5 B1058.4     1
Name: Booster_Version, Length: 97, dtype: int64

In [45]:
df_F9_1_1=df[df["Booster_Version"] == "F9 v1.1"]
df_F9_1_1["PAYLOAD_MASS__KG_"].mean()

2928.4

In [65]:
%%sql
SELECT AVG(PAYLOAD_MASS__KG_)
FROM PM_KG
WHERE Booster_Version LIKE 'F9 v1.0%';

 * sqlite:///PM_KG.db
   sqlite:///my_data1.db
Done.

[(340.4,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [107]:
df_ground_pad=PM_KG[PM_KG['Landing _Outcome'] == 'Success (ground pad)' ]
df_ground_pad.iloc[0,0]

NameError: name 'PM_KG' is not defined

In [108]:
%%sql
SELECT MIN(Date)
FROM PM_KG
WHERE Landing__Outcome = 'Success (ground pad)';

   sqlite:///PM_KG.db
 * sqlite:///SPACEX.db
   sqlite:///my_data1.db
(sqlite3.OperationalError) no such table: PM_KG
[SQL: SELECT MIN(Date)
FROM PM_KG
WHERE Landing__Outcome = 'Success (ground pad)';]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [25]:
df_suc_drone_Mass4000_6000=df[(df['Landing _Outcome'] == 'Success (drone ship)') & (df['PAYLOAD_MASS__KG_'] < 6000) & (df['PAYLOAD_MASS__KG_'] > 4000)] 
booster=df_suc_drone_Mass4000_6000["Booster_Version"].to_list()
print(f"Booster versions with the description {booster} have masses between 4000 and 6000 and succeded in landing by drone ship ")

KeyError: 'Landing _Outcome'

### Task 7




##### List the total number of successful and failure mission outcomes

In [26]:
success=0
failure=0
for outcome in df['Mission_Outcome']:
    if "Success" in outcome:
        success=success+1
    else:
        failure=failure+1
print(f"There were {success} succesfull and {failure} unsuccesfull mission")

TypeError: argument of type 'float' is not iterable

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [27]:
max_load=df[df["PAYLOAD_MASS__KG_"] == df['PAYLOAD_MASS__KG_'].max()]
max_load['Booster_Version'].unique()

array(['F9 B5 B1048.4', 'F9 B5 B1049.4', 'F9 B5 B1051.3', 'F9 B5 B1056.4',
       'F9 B5 B1048.5', 'F9 B5 B1051.4', 'F9 B5 B1049.5',
       'F9 B5 B1060.2 ', 'F9 B5 B1058.3 ', 'F9 B5 B1051.6',
       'F9 B5 B1060.3', 'F9 B5 B1049.7 '], dtype=object)

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [28]:
dates=[]
for date in df["Date"]:
    if date[6:10] == "2015":
        dates.append(date)
df_2015=df[df["Date"].isin(dates)]
df_2015=df[(df["Landing _Outcome"]=='Failure (drone ship)')]
failed_boosters=df_2015["Booster_Version"].to_list()
print(f"the boosters \n {failed_boosters} \n have failed to land with drone ships in 2015")

TypeError: 'float' object is not subscriptable

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [29]:
lower_date=df[df["Date"]=="04-06-2010"]
higher_date=df[df["Date"]=="16-03-2017"]
df_timed=df.iloc[0:31,]
df_timed['Landing _Outcome'].value_counts(ascending=False)

KeyError: 'Landing _Outcome'

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>